{# empty Twig template #}
{% extends 'base.html.twig' %}
{% block title %}
    Modification de votre profil
{% endblock %}

{% block body %}
    <div class='container'>
        <h1>modification du  profil  </h1>
        {{ form_start(form) }}

        {{ form_widget(form) }}
        {{ form_errors(form) }}
        <button type='submit' class='btn btn-primary'>Modifier</button>
        {{ form_end(form) }}
    </div>
{% endblock %}