{# empty Twig template #}
{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class='container'>
        <h1>Inscrivez  vous sur notr site</h1>
        {{ form_start(form) }}

        {{ form_widget(form) }}
        {{ form_errors(form) }}
        <button type='submit' class='btn btn-primary'>Inscription</button>
        {{ form_end(form) }}
    </div>
{% endblock %}