{% extends "base.html.twig" %}
{% block title %}
    Bienvenue
{% endblock %}
{% block body %}
    <div  class="container">
        <div class="jumbotron mt-3">
            <h1 class="display-3">Bienvenue sur SymBNB!</h1>
            <p class="lead">nous mettons en relations des voyageurs et des proprietaires</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">voir nos annonces</a>
            </p>
        </div>
        <h2 class="h1 my-5">Nos appartements stars</h2>

        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres, <strong>49 euro/nuit</strong>
                        <small>pas noté</small>
                    </div>
                    <img src="http://placehold.it/1000x400" alt="image de l'appartment" style="height: 200; width:100%; display: block">
                    <div class="card-body">
                        <h4 class="card-title">
                            appartement de ouf!
                        </h4>
                        <p class="card-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            cillum dolore eu fugiat nulla pariatur
                        </p>
                        <a class="btn btn-secondary btn-lg" href="#" role="button">En savoir plus!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres, <strong>49 euro/nuit</strong>
                        <small>pas noté</small>
                    </div>
                    <img src="http://placehold.it/1000x400" alt="image de l'appartment" style="height: 200; width:100%; display: block">
                    <div class="card-body">
                        <h4 class="card-title">
                            appartement de ouf!
                        </h4>
                        <p class="card-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            cillum dolore eu fugiat nulla pariatur
                        </p>
                        <a class="btn btn-secondary btn-lg" href="#" role="button">En savoir plus!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres, <strong>49 euro/nuit</strong>
                        <small>pas noté</small>
                    </div>
                    <img src="http://placehold.it/1000x400" alt="image de l'appartment" style="height: 200; width:100%; display: block">
                    <div class="card-body">
                        <h4 class="card-title">
                            appartement de ouf!
                        </h4>
                        <p class="card-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            cillum dolore eu fugiat nulla pariatur
                        </p>
                        <a class="btn btn-secondary btn-lg" href="#" role="button">En savoir plus!</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">
                            said ben
                        </h4>
                        <div class="card-text">
                            <img class="float-left mr-3" src="http://placehold.it/64x64" alt="avatar de said">

                            <p class="card-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                cillum dolore eu fugiat nulla pariatur
                            </p>
                            <a class="btn btn-success btn-lg" href="#" role="button">En savoir plus!</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">
                            said ben
                        </h4>
                        <div class="card-text">
                            <img src="http://placehold.it/64x64" alt="avatar de said" class="float-left mr-3">

                            <p class="card-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                cillum dolore eu fugiat nulla pariatur
                            </p>
                            <a class="btn btn-success btn-lg" href="#" role="button">En savoir plus!</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}